@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

.header {
	font-family: "La Belle Aurore";
	font-style: normal;
}
